body {
    background-color: #242424;
    color: #d5d5d5;
}

a {
    color: #d5d5d5;
}

.b-header {
    box-shadow: 0 2px 1px #212121;
    background-color: #2c2c2c;
}

.b-header__header-btn {
    color: #565656;
}

.b-header__header-btn:hover,
.b-header__header-btn_active {
    background-color: #404040;
    color: #9a9a9a;
}

.b-value-info {
    color: #565656;
}

.b-subnav-menu {
    background-color: #404040;
    box-shadow: 2px 2px 1px #191919;
    border-radius: 2px;
}

.b-subnav-menu__link {
    color: #adadad;
    text-shadow: 1px 1px 0 #333;
}

.b-subnav-menu__link:hover {
    background-color: #4f4f4f;
}

.b-subnav-menu__link_confirm-animated {
    background-color: #404040;
}

.b-subnav-menu__confirm-link {
    box-shadow: inset 3px 0 8px -2px rgba(0, 0, 0, 0.5);
    transition: background-color 0.1s ease, box-shadow 0.15s ease;
    color: #fff;
}

.b-subnav-menu__separator {
    border-bottom: 1px solid #2d2d2d;
}

.b-nav {
    box-shadow: 1px 0 2px #1d1d1d;
    background: #2a2a2a;
}

.b-storage-selector__select {
    background-color: #585858;
    color: #909090;
    border: none;
}

.b-keys-menu__link {
    color: #f1f1f1;
}

.b-keys-menu__link:hover,
.b-keys-menu__link_active {
    background-color: rgba(130, 130, 130, 0.2);
}

.b-keys-menu__type-icon {
    color: rgba(199, 199, 199, 0.20);
}

.b-nav-footer__btn {
    color: #565656;
}

.b-nav-footer__btn:hover {
    background-color: #404040;
    color: #9a9a9a;
}

.b-value-view__initial-text {
    color: #323232;
}

.b-json-view-tools__item {
    color: #6f6f6f;
    border: 1px solid #505050;

}
.b-json-view-tools__item:hover {
    color: #808080;
    border: 1px solid #707070;
}

/* JSON VIEW THEME */
.jsonview .string {
    color: #3abd3a;
}

.jsonview .num {
    color: #e29733;
}
.jsonview a {
    color: #009cea;
}
.jsonview span.bool {
    color: #f74820;
}
/* /JSON VIEW THEME */